<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:security="http://www.springframework.org/schema/security"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <context:property-placeholder location="file:${PROXY_CONFIG}/config.properties" />
  <context:annotation-config />
  <import resource="securityContext.xml" />
  <import resource="persistenceContext.xml" />

  <bean id="serviceExceptionHandler" class="org.deegree.securityproxy.authentication.ServiceExceptionHandler">
    <constructor-arg value="${exception_file_path}" />
    <constructor-arg value="${authentication_denied_status_code}" />
    <constructor-arg value="${authorization_denied_status_code}" />
  </bean>

  <bean name="log4JReportLogger" class="org.deegree.securityproxy.logger.Log4jSecurityRequestResponseLogger">
    <constructor-arg type="java.lang.String">
      <value>PROXY_CONFIG</value>
    </constructor-arg>
    <constructor-arg type="java.lang.String">
      <value>log4j.properties</value>
    </constructor-arg>
  </bean>

  <bean id="wcsRequestAuthorizationManager" class="org.deegree.securityproxy.authorization.wcs.WcsRequestAuthorizationManager" />

  <bean id="wcsRequestParser" class="org.deegree.securityproxy.request.WcsRequestParser" />

  <bean name="responseFilterManager" class="org.deegree.securityproxy.responsefilter.wcs.WcsResponseFilterManager">
    <constructor-arg value="${clipping_exception_file_path}" />
    <constructor-arg value="${clipping_failed_status_code}" />
  </bean>

  <bean name="geometryRetriever" class="org.deegree.securityproxy.responsefilter.wcs.GeometryRetrieverImpl" />

  <bean name="imageClipper" class="org.deegree.securityproxy.responsefilter.wcs.GeotiffClipper" />

  <bean id="headerTokenDataSource" class="org.deegree.securityproxy.authentication.repository.WcsUserDaoImpl">
    <constructor-arg value="ows_system_admin" />
    <constructor-arg value="user_access_info" />
    <constructor-arg value="access_token" />
    <constructor-arg value="user_name" />
    <constructor-arg value="password" />
    <constructor-arg value="layer_service_type_name" />
    <constructor-arg value="layer_service_type_version_hint" />
    <constructor-arg value="ogc_layer_service_operation_type_name" />
    <constructor-arg value="service_name" />
    <constructor-arg value="service_layer_name" />
    <constructor-arg value="subscription_start_date" />
    <constructor-arg value="subscription_end_date" />
    <constructor-arg value="user_layer_limited_to" />
  </bean>

  <bean name="authenticationProvider" class="org.deegree.securityproxy.authentication.HeaderTokenAuthenticationProvider" />

  <bean id="headerFilter"
    class="org.springframework.security.web.authentication.preauth.RequestHeaderAuthenticationFilter">
    <property name="principalRequestHeader" value="access_token" />
    <property name="authenticationManager" ref="authenticationManager" />
    <property name="exceptionIfHeaderMissing" value="false" />
  </bean>

  <bean id="securityFilter" class="org.deegree.securityproxy.filter.SecurityFilter" />

</beans>